body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap overrides*/

.navbar-brand {
    font-weight: 800;
}

.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}
 .navbar-inverse .navbar-brand {
        color: #fff;

 }

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
      background-color: rgba(219, 31, 30, 0.59);
    }
.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Bangers', cursive, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-family: 'Timmana', sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form-control {
    font-size: 17px;
    -ms-border-radius: 9px;
    border-radius: 9px;     
}

.btn {
    font-size: 17px;
    -ms-border-radius: 9px;
    border-radius: 9px;
    padding: 7px 20px;
}
.btn-sm, .btn-xs {
    padding: 1px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 9px;
}



.form-control:focus {
    border-color: #2196f3;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

/*
    Page-Level Styles
*/
.gigs {
    list-style: none;
}
.gigs > li {
    position: relative;
    margin-bottom: 30px;
}
.gigs > li .date {
    background: red;
    color: white;
    width: 60px;
    text-align: center;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.gigs >li .date .month {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
}

    .gigs > li .date .day {
        background: #f7f7f7;
        color: #333;
        font-size: 20px;
        padding: 6px 12px;
    }

.gigs > li .details {
    position: absolute;
    top: 5px;
    left: 70px;
    width: 100px;
}

.gigs >li .details .artist {
    font-weight: bolder;
    display: block;
     
}
.gigs > li .details .genre {
       
        font-size: 15px;
         
}